        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }

        html {
            /* On ramène la base à 10px (62.5% de 16px) */
            font-size: 62.5%;
        }

        body {
            font-family: poppins;
        }


        /* header debut */

        header {
            height: 13.8rem;
            width: 100%;
            background: #ff7700;
            background: linear-gradient(96deg, rgba(255, 119, 0, 0.75) 26%, rgba(255, 255, 255, 1) 100%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 9rem;
            padding-right: 9rem;
        }

        .gbao {
            height: 9.4rem;
            width: 9%;
            background-image: url(./images/logo\ gbao.png);
            border-radius: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .info {
            height: 4.8rem;
            width: 10.9rem;
            background-color: #ff7700;
            border-radius: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.175);
        }

        .info a {
            text-decoration: none;
            font-family: poppins;
            font-weight: 500;
            font-size: 2rem;
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: up;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 1rem #11101058;
            border-radius: 10px;
            display: block;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #f46b45 2%, #eea849 51%, #4ef445 100%);
        }

        nav ul {
            display: flex;
            justify-content: space-around;
            gap: 30rem;
        }

        nav ul li {
            list-style: none;
        }

        li a {
            color: black;
            text-decoration: none;
            font-family: poppins;
            font-size: 2.5rem;
        }

        .info :hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            color: green;
        }


        /* header fin */


        /*debut du hero dans lordre*/

        .hero1 {
            height: 99.1rem;
            width: 100%;
            background-image: linear-gradient(#0000008d), url(./images/cover1.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        .T1 {
            height: 24rem;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .T1 h1 {
            font-family: poppins;
            font-size: 4rem;
            font-weight: 400;
            color: #ffffff79;
        }

        .T2 {
            height: 9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .T2 h1 {
            font-family: poppins;
            font-size: 3.6rem;
            font-weight: 400;
            color: #fff;
        }

        .T3 {
            height: 19rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }

        .TA {

            height: 10rem;
            width: 22%;
            flex-wrap: wrap;
            background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 2px #000000;
            border-radius: 10px;
            display: block;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .TA a {
            color: #ffffff;
            font-family: poppins;
            font-size: 2.4rem;
            font-weight: 350;
            text-decoration: none;
        
        }

        .Tbb {
            height: 10rem;
            width: 22%;
            border-radius: 1.9rem;
            flex-wrap: wrap;
            background-image: linear-gradient(to right, #f07410 0%, #f3b50a 51%, #ff9100fb 100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 2px #0000009a;
            border-radius: 10px;
            display: block;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .Tbb a {
            color: #ffffff;
            font-family: poppins;
            font-size: 2.4rem;
            font-weight: 350;
            text-decoration: none;
        
        }

        .TA:hover {

                background-position: right center;
                color: #fff;
                background-image: linear-gradient(#00000028), url(./images/img\ concoures.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 1.5rem;
                box-shadow: 0 0 5rem whitesmoke;

        }



        .Tbb a:hover {
            background-position: right center;
            color: #fff;
        }

        .Tbb:hover {
            background-image: linear-gradient(#00000028), url(./images/img\ bourses.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1.5rem;
            box-shadow: 0 0 5rem whitesmoke;
        }

        /* fin du hero */

        /* debut de la section concoures */

        .sect1 {

            height: 100rem;
            flex-wrap: wrap;
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            

        }

        .txt1 {
            display: flex;
            justify-content: center;
            padding-top: 7.9rem;
            flex-wrap: wrap;
        }

        .txt1 h1 {
            font-family: poppins;
            font-size: 5rem;
            font-weight: 300;
        }


        /* la partir des 3 div concoures */

        .bg {

            height: 50rem;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            display: flex;
        }

        .bc3 {

            display: flex;
            height: 95%;
            width: 25%;
            border-radius: 4.8rem 4.8rem 0rem 0rem;
            box-shadow: 0rem 0rem 0.5rem 0rem black;
            display: flex;
            flex-direction: column;
            margin-top: 2%;

        }

        .bcc3 {

            height: 45%;
            width: 100%;
            border-radius: 4.8rem 4.8rem 0rem 0rem;
            background-image: url(./images/Cafop.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bcc4 {

            height: 45%;
            width: 100%;
            border-radius: 4.8rem 4.8rem 0rem 0rem;
            background-image: url(./images/ENA.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bcc5 {

            height: 45%;
            width: 100%;
            border-radius: 4.8rem 4.8rem 0rem 0rem;
            background-image: url(./images/inphb.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .ba1 {
            
            height: 53%;
            flex-wrap: wrap;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .plus {

            height: 5.3rem;
            width: 45%;
            border-radius: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #c21500 0%, #ffc500 51%, #c26e00 100%);
            flex-wrap: wrap;

        }

        .ba1 h1 {

            font-size: 5rem;
            font-family: poppins;
            font-weight: 400;
        }

        .ba1 p {

            font-family: poppins;
            font-size: 1.9rem;
        }

        .plus a {

            text-decoration: none;
            color: #fff;
            font-family: poppins;
            font-size: 2rem;
            
        }

        .bc3:hover {

            box-shadow: 0 0 5rem black;
            
        }

        .plus:hover {

        background-position: right center;
        color: #fff;
        text-decoration: none;
        }
        /* partie bouton concoures */
        .btc {

                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

        }

        .btc1 {
            
                    height: 9.3rem;
                    width: 19%;
                    border-radius: 3rem;
                    background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
                    margin: 10px;
                    padding: 15px 45px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    box-shadow: 0 0 20px #eee;
                    border-radius: 3rem;
                    display: block;
                    outline: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;


        }

        .btc1 a {

                color: #000000;
                text-decoration: none;
                font-family: poppins;
                font-size: 2.2rem;
        

        }

        .btc1:hover {

                    background-position: right center;
                    color: #fff;
                    background-image: linear-gradient(#00000028), url(./images/img\ concoures.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 1.5rem;
                    box-shadow: 0 0 2rem yellowgreen;
        
        }

        .btc1 a:hover {color: #fff;}

        /* fin de la section concoures */

        .sect2 {

            height: 63rem;
            flex-wrap: wrap;

        }

        .A3 {

            height: 85rem;
            display: flex;
            justify-content: space-around;
            padding-top: 2%;
            flex-direction: row;

        }

        .a3 {

                height: 40%;
                width: 30%;
                border-radius:1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                box-shadow: 0 0 1rem #000000;
                
        }

        .a3:hover {

             box-shadow: 0 0 3rem #000000;
             border-radius: 3.8rem;

        }

        .aa3 {

                height: 40%;
                width: 30%;
                border-radius:1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                box-shadow: 0 0 1rem #000000;
                
        }  
        
        .aa3:hover {

             box-shadow: 0 0 3rem #000000;
             border-radius: 3.8rem;

        }


        .aa3 .a44 {

        height: 60%;
        width: 30%;
        background-image: url(./images/france.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 1rem #000000;

        }

        .aa4 {


                height: 40%;
                width: 30%;
                border-radius:1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                box-shadow: 0 0 1rem #000000;

        }

        .aa4 .a44 {

        height: 60%;
        width: 30%;
        background-image: url(./images/maroc.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 1rem #000000;

       }

        .a4  {

                    flex-grow: 1;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

        }

        .a44 {

        height: 60%;
        width: 30%;
        background-image: url(./images/canada.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 1rem #000000;

        }

        .a45 {

        height: 30%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        }

        .a45 h1 {

        font-family: poppins;
        font-size: 2rem;

        }

        .a46 {
            
                    flex-grow: 0;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding-right: 12%;
                
                }

        .a46 p {

        color: rgba(0, 0, 0, 0.62);
        font-family:poppins;
        font-size: 1.6rem;

        }

        .aa {

            height: 30%;
            width: 40%;
            background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            outline: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .aa a {

        color: #fff;
        text-decoration: none;
        font-family: poppins;
        font-size: 3rem;

        }



        .aa:hover {

        background-position: right center;
        color: #fff;
        text-decoration: none;

            }

            .btc11 { 

                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                
            }



            .btc111 {

                    height: 9.3rem;
                    width: 19%;
                    border-radius: 3rem;
                    background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
                    margin: 10px;
                    padding: 15px 45px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    box-shadow: 0 0 20px #eee;
                    border-radius: 3rem;
                    display: block;
                    outline: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

            }

             .btc11 a {

                color: #000000;
                text-decoration: none;
                font-family: poppins;
                font-size: 2.2rem;
        
            }

            .btc11 :hover {

            background-image: linear-gradient(#00000028), url(./images/img\ bourses.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1.5rem;
            box-shadow: 0 0 5rem rgb(185, 185, 185);

            }

            .btc11 a:hover {
            background-position: right center;
            color: #fff; 
        }
         /* fin dde la section2 */
         /* debut de la section 3 */

         .sect3 {

            height: 93rem;
            margin-top: 3rem; 
            
         }

         .C1  {

            height: 83%;
            display: flex;
            align-items: center;
            justify-content: space-around;

         }

         .c1 {

            border: 2px solid silver;
            height: 70%;
            width: 23%;
            border-radius: 1.8rem;
            box-shadow: 0 0 1rem #000000;

         }
/* images blaises pascales */
         .cc1 {

            height: 55%;
            border-radius: 1.8rem 1.8rem 0 0;
            background-image: url(./images/img\ Blaises\ Pascal.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

         }

         .cc2 {

            border-radius: 0rem 0rem 1.8rem 1.8rem;
            height: 45%;
            flex-direction: column;
            display: flex;
            align-items: center;
            padding-top: 1%;

         }

         .cc2 h1 {

            text-decoration:underline ;
         }

         .cc2 p {

            font-family: poppins;
            font-size: 2rem;
            margin-top: 2%;
            text-align: center;
            color: #000000b0;

         }

         .cc3 {

            margin-top: 2%;
            width: 100%;
            border-radius: 0rem 0rem 1.8rem 1.8rem;
            height: 55%;
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 3%;
            flex-wrap: wrap;

         } 

         .cc4 {

            width: 30%;
            height: 30%;
            background-image: linear-gradient(to right, #ab6d2f 0%, #a8e063 51%, #050605 100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 3rem;
            display: block;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
           
         } 

         .cc4:hover {

        background-position: right center;
        color: #fff;
        text-decoration: none;

         }

         .cc4 a:hover {
            background-position: right center;
            color: #ffffffcf; 
        }

        .cc4 a {

                color: #000000;
                text-decoration: none;
                font-family: poppins;
                font-size: 1.5rem;
            }

            .cc22 {

            height: 55%;
            border-radius: 1.8rem 1.8rem 0 0;
            background-image: url(./images/img\ reforme\ stage.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

         }

         .cc33 {

            height: 55%;
            border-radius: 1.8rem 1.8rem 0 0;
            background-image: url(./images/img\ internatinale.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

         }

          .CC1 { 

                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                
            }



            .CC11 {

                    height: 9.3rem;
                    width: 19%;
                    border-radius: 3rem;
                    background-image: linear-gradient(to right, #5eac2a 0%, #ffffff 51%, #000000 100%);
                    margin: 10px;
                    margin-bottom: 12%;
                    padding: 15px 45px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    box-shadow: 0 0 20px #000000;
                    border-radius: 3rem;
                    display: block;
                    outline: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

            }

             .CC1 a {

                color: #000000;
                text-decoration: none;
                font-family: poppins;
                font-size: 2.2rem;
        
            }

            .CC1 :hover {

            background-image: linear-gradient(#00000028), url(./images/img\ actualité.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1.5rem;
            box-shadow: 0 0 5rem rgb(185, 185, 185);

            }

            .CC1 a:hover {
                
            background-position: right center;
            color: #fff; 
        }
        /* fin de la section3 */

        footer {

                    height: 60rem;
                    background: #ff7b00;
                    background: linear-gradient(90deg, rgba(255, 123, 0, 1) 20%, rgba(181, 179, 179, 1) 52%, rgba(23, 199, 0, 1) 97%);

        }

        .F1 {
            
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            

        }

        .f1 {

            height: 80%;
            width: 30%;
             display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-top: 2rem;
          
        }

        

        .logo {

                height: 9.4rem;
                width: 22%;
                background-image: url(./images/logo\ gbao.png);
                border-radius: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
        }

        .ic {
           
            font-size: 3.4rem;
            margin-left: 2%;

        }

        .f2 {

            height: 80%;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding-top: 2rem;
            
          
        }

        .f2 a {

            color: #fff;
            text-decoration: none;
            font-size: 1.9rem;
            font-family: poppins;

        }

        .f2 h1 {

            font-family: poppins;
            font-size: 3rem;


        }

        .f3 {

            height: 80%;
            width: 30%;
            flex-direction: column;
            display: flex;
            align-items: center;
            gap: 2rem;
            padding-top: 2rem;
             
          
        }

        .f3 p {

            font-family: poppins;
            font-size: 2rem;
            margin-left:  2rem;
            color: rgba(0, 0, 0, 0.51);


        }

        .f3 h1 {

            font-family: poppins;
            font-size: 4rem;
        }

        .F2 {

            height: 20%;
            display: flex;
            justify-content: space-evenly;
        }

        .F22 {

            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        .F22 h1 {
            color: #fff;
            font-family: poppins;
            font-weight: 300;
        }
/* fin du code aceuille */



        